/*Insertion de la police, ne pas modifier*/
@font-face {
  font-family: 'modernm';
  src: url('../font/modern_m-webfont.woff2') format('woff2'),
       url('../font/modern_m-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

*{
  font-family: 'modernm';
}

body
{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.gauche
{
  position: relative;
  flex: 1;
}

.texte
{
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.logo{
    height: 30vh;
    width: auto;
}

.bouton{
    background-color: rgb(18, 18, 54);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
}

.bouton:hover{
    transition-duration: 2s;
    background-color: rgb(56, 1, 1);
}

a{
    text-decoration: none;
    color: white;
}

.droite
{
  height: 100vh;
  width: auto;
  margin-right: 0;
}