<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/a_propos.css">
    <link rel="icon" href="../img/logo2.webp">
    <title>A Propos</title>
</head>
<body>
    <header>
        <a href="../index.html">La descente</a>
        <a href="connexion.html">Compte</a>
    </header>
    <br>
    <nav>
        <a href="accueil_presentation.html" class="accueil">Accueil</a>
        <a href="recettes.html" class="recettes">Recettes et conseils</a>
        <a href="decouvertes.html" class="decouverte">Découverte</a>
        <a href="classements.html" class="classements">Classements</a>
        <a href="newsletter.html" class="newsletter">Newsletter</a>
        <a href="a_propos.html" class="a_propos">A propos</a>
    </nav>
    <div class="div">
        <fieldset > 
            <legend>Fonctionnalités actuelles</legend>
            <ul>
                <li>Page d'accueil</li>
                <li>Page de recettes et de conseils</li>
                <li>Page découverte</li>
                <li>Classements des alcools</li>
                <li>Inscription à la newsletter</li>
                <li>Page à propos</li>
            </ul>
        </fieldset >
        <fieldset>
            <legend>Futures mises à jour</legend>
            <ul>
                <li>Ajouts de nouvelles recettes</li>
                <li>Créations de comptes personnelles </li>
                <li>Inscription à la newsletter </li>
                <li>Préférences</li>
                <li>Commentaires</li>
                <li>Possibilité pour les utilisateurs de proposer de nouvelles recettes</li>
             </ul>
        </fieldset>
    </div>
    <fieldset >
       <legend>Nous contacter</legend>
            <p class="textcontact">En cas de besoin contactez nous via : </p>
            <br>
            <div class="logo">
                <a href="https://www.instagram.com/ladescente_lille/"><img src="../img/instagram.webp" alt="Instagram La descente" class="logos"></a>
                <a href="https://discord.gg/VCeQEHmQK2"><img src="../img/discord.webp" alt="Discord La descente" class="logos"></a>
                <a href="https://github.com/julesroy/ladescente"><img src="../img/github.webp" alt="Github La descente" class="logos"></a>
            </div>
        </fieldset>
    <footer>
        <p class="foot_centre1">Auteurs : Simon Leroy, Antonin Dumas, Jules Roy, Maxime Basset</p>
        <p class="foot_centre2">© La descente™ 2022</p>
    </footer>
</body>
</html>