<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/accueil_presentation.css">
    <link rel="icon" href="../img/logo2.webp">
    <title>Présentation</title>
</head>
<body>
    <header>
        <a href="../index.html">La descente</a>
        <a href="connexion.html">Compte</a>
    </header>
    <br>
    <nav>
        <a href="accueil_presentation.html" class="accueil">Accueil</a>
        <a href="recettes.html" class="recettes">Recettes et conseils</a>
        <a href="decouvertes.html" class="decouverte">Découverte</a>
        <a href="classements.html" class="classements">Classements</a>
        <a href="newsletter.html" class="newsletter">Newsletter</a>
        <a href="a_propos.html" class="a_propos">A propos</a>
    </nav>
    <br>
    <main>
        <div class="txt1">
            <h1>La Descente</h1>
            <h3>Bienvenue</h3>
        </div>
        <div class="img1"></div>
        <div class="img2"></div>
        <div class="txt2">
            <p>Découvrez des recettes/boissons du monde entier</p>
        </div>
        <div class="txt3">
            <p>Partagez vos idées et vos expériences</p>
        </div>
        <div class="img3"></div>
    </main>
</body>
</html>