<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/classements.css">
    <link rel="icon" href="../img/logo2.webp">
    <title>Classements</title>
</head>
<body>
    <header>
        <a href="../index.html">La descente</a>
        <a href="connexion.html">Compte</a>
    </header>
    <br>
    <nav>
        <a href="accueil_presentation.html" class="accueil">Accueil</a>
        <a href="recettes.html" class="recettes">Recettes et conseils</a>
        <a href="decouvertes.html" class="decouverte">Découverte</a>
        <a href="classements.html" class="classements">Classements</a>
        <a href="newsletter.html" class="newsletter">Newsletter</a>
        <a href="a_propos.html" class="a_propos">A propos</a>
    </nav>
    <br>
    <main class="partie_classements"> <!--conteneur principal des sous conteneurs de classements-->
        <div class="conteneur_classment">
            <h2>Classement par cocktail:</h2>
            <h5>Selon le rapport officiel de <a href="https://drinksint.com/" target="_blank">Drinks International</a></h5>
            <br>
            <ol>
                <li>Negroni</li>
                <li>Old Fashioned</li>
                <li>Dry Martini</li>
                <li>Margarita</li>
                <li>Daiquiri</li>
                <li>Aperol Spritz</li>
                <li>Espresso Martini</li>
                <li>Manhattan</li>
                <li>Mojito</li>
                <li>Whisky Sour</li>
            </ol>
        </div>
        <br>
        <div class="conteneur_classment">
            <h2>Classement des alcools les plus forts:</h2>
            <br>
            <ol>
                <li>Absinthe (90%)</li>
                <li>Rhum (80%)</li>
                <li>Chartreuse (55%)</li>
                <li>Cognac (40% et +)</li>
                <li>Vodka (40%)</li>
                <li>Whisky (40%)</li>
                <li>Pastis (40 à 45%)</li>
                <li>Cointreau (40%)</li>
                <li>Kirsch (40%)</li>
                <li>Grand Marnier (40%)</li>
            </ol>
        </div>
        <br>
        <div class="conteneur_classment">
            <h2>Classement des meilleures bières:</h2>
            <br>
            <ol>
                <li>Paix Dieu</li>
                <li>Mort Subite</li>
                <li>Hoegaarden</li>
                <li>Karmeliet</li>
                <li>Grimbergen</li>
                <li>Guinness</li>
                <li>La Goudale</li>
                <li>1664</li>
                <li>Affligem</li>
                <li>Pelforth</li>
            </ol>
        </div>
        <br>
        <div class="conteneur_classment">
            <h2>Classement des pires alcools:</h2>
            <br>
            <ol>
                <li>Everclear (95% - USA)</li>
                <li>Cocoroco (90-95% - Guatemala)</li>
                <li>Spirytus Rektyfikowany (90% - Pologne)</li>
            </ol>
        </div>
        <br>
    </main>
</body>
</html>