/*Insertion de la police, ne pas modifier*/
@font-face {
    font-family: 'modernm';
    src: url('../font/modern_m-webfont.woff2') format('woff2'),
         url('../font/modern_m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    font-family: 'modernm';
}

header{
    background-image: url(../img/pyr.jpg);
    background-size: cover; /*disposition du fond d'écran*/
    height: 15vh; /*taille du header*/
    background-position-y: 45%; /*cette propriété permet de placer l'image par rapport à un axe vertical*/
    display: flex; /*positionnement des éléments dans le header*/
    justify-content: space-between; /*avec space-between, on retrouve nos 2 éléments sur les côtés de l'écran*/
    padding-right: 3%; /*on décale l'élément de droite par rapport au bord droit (marge interne)*/
    padding-left: 3%; /*on décale l'élément de gauche par rapport au bord gauche (marge interne)*/
    align-items: center; /*on centre les éléments verticalement dans le header*/
}

header > p, header > a{
    color: white;
    text-decoration: none;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 5px;
}

nav{
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-areas: "accueil    recette     decouverte"
                         "newsletter classements apropos";
    text-align: center;
}

.recettes{
    grid-area: recette;
}

.decouverte{
    grid-area: decouverte;
}

.classements{
    grid-area: classements;
}

.newsletter{
    grid-area: newsletter;
}

.a_propos{
    grid-area: apropos;
}

nav > a{
    color: black;
    text-decoration: none;
    position: relative;
     
}

#content{ /* On démarre le style de cette page avec le placement du conteneur global de cette page */
    top: 25px;    
    position: relative ;    
    
}

#content .titre{    /* style du titre de cette page */
    position: absolute;
    width: 100%;
    text-align: center;
    background-color:#afcfd9 ;
}   

#content .description{
    font-size: smaller;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 65px;
}



#content .post{   /* style du block qui va contenir toutes les recettes */
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;    /* on centre le block sur la page */
    top: 25vh;     
    
}
/* mise en forme des conteneurs pour chaque cocktail*/
.Cocktail{
    display: flex; 
    flex-direction: column;  /* pour que les ingrédients soient positionnés en-dessous de l'image*/
    flex-wrap: nowrap;   
    margin-bottom: 70px;
    position: relative; /* pour que le nom du cocktail puisse se placer en position absolute et se superposer à l'image*/
    
}

/*fin mise en forme des conteneurs pour chaque cocktail */

.a{
    width: 100%; /* on prend toute la largeur du block parent*/
}

.Genevria{ /* style propre à la recette du genevria pour pouvoir ajouter un arrondi */
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    
}


ul{
    margin-bottom: 10px;  /* écart entre les 2 listes de chaque cocktail */
    margin-top: 10px;
    padding-left: 10%;
    
}


.nom{
    display: block;
    position: absolute;  /* position absolute pour superposer le titre à l'image */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    top: 30px; /* décalage par rapport au haut de l'image */
}







@media only screen and (600px<=width) {
    /* tablette
    */
    nav > a:hover::after{
        display: inline;
        content: '';
        height: 3px;
        background: black;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0%;
        animation-name: survol;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
    }
    
    @keyframes survol{
        from{
            width: 0%;
        }
        50%{
            width: 100%;
            left: 0;
        }
        to{
            left: 100%;
            width: 0%;
        }
    }

}

@media only screen and (768px<=width) {
    /* ordinateur
    */
    nav{
        display: flex;
        justify-content: space-evenly;
    }
    #content .post{   /* style du block qui va contenir toutes les recettes */
        border-style: solid;
        border-color: black;
            
        position: absolute;
        width: 50%;
        left: 25%;
        right: 25%;    /* on centre le block sur la page */
        top: 125px;   
        
    }
    .Cocktail{
        display: flex; 
        flex-direction: row;  /* pour que les ingrédients soient positionnés à côté de l'image*/
        margin-bottom: 70px;
        position: relative; /* pour que le nom du cocktail puisse se placer en position absolute et se superposer à l'image*/

    }
    

    .image{
        width: 50vh;
        padding-right: 1vh;
    }
     .ingredients{
        width: 50vh;

     }  
    .Genevria{      /* style propre à la recette du genevria pour pouvoir ajouter un arrondi */
        width: 50vh;
        border-radius: 5px 0px 0px 0px;
    }
}